<!doctype html>
<html lang="en">
    <head>
        <style>body { margin: 0; overflow: hidden; }</style>
    </head>
    <body>
        <script src="../src/lib/three.js"></script>
        <script src="../src/lib/Detector.js"></script>
        <script src="../src/lib/TrackballControls.js"></script>
        <script src="../src/lib/THREEx.FullScreen.js"></script>
        <script src="../src/lib/THREEx.WindowResize.js"></script>
        <script src="../src/lib/helvetiker_regular.typeface.js"></script>

        <script src="../src/grow3.js"></script>
        <script src="../src/grow3.Runner.js"></script>

        <script src="../examples/js/{{file}}"></script>

        <script>

            // http://stackoverflow.com/a/133997
            function post_to_url(path, params, method) {
                method = method || "post"; // Set method to post by default if not specified.

                var form = document.createElement("form");
                form.setAttribute("method", method);
                form.setAttribute("action", path);

                for(var key in params) {
                    if(params.hasOwnProperty(key)) {
                        var hiddenField = document.createElement("input");
                        hiddenField.setAttribute("type", "hidden");
                        hiddenField.setAttribute("name", key);
                        hiddenField.setAttribute("value", params[key]);

                        form.appendChild(hiddenField);
                     }
                }

                document.body.appendChild(form);
                form.submit();
            }

            document.title = (name || "")  + " screenshot [grow3.js]"
            window.innerWidth = {{width}} * {{aaFactor}};
            window.innerHeight = {{height}} * {{aaFactor}};
            var runner = new grow3.Runner(document.body);

            var wait = function() {
                if (runner.frameCount < 4) {
                    window.setTimeout(wait, 50);
                } else {
                    runner.isRendering = 0;
                    waitStopped();
                }
            }

            var waitStopped = function() {
                if (runner.frameCount == 0) {
                    var shrinkedCanvas = document.createElement("canvas");
                    shrinkedCanvas.width = {{width}};
                    shrinkedCanvas.height = {{height}};

                    var ctx = shrinkedCanvas.getContext("2d");
                    ctx.drawImage(runner.renderer.domElement, 0, 0, {{width}}*{{aaFactor}}, {{height}}*{{aaFactor}}, 0, 0,  {{width}}, {{height}});

                    var dataUrl = shrinkedCanvas.toDataURL("image/png");
                    console.log(dataUrl);

                    post_to_url("http://localhost:8765", {"name" : "{{example}}", "shot" : dataUrl});
                } else {
                    window.setTimeout(waitStopped, 50);
                }
            }


            window.onload = function() {
                runner.run(source);
                wait();
            };
         </script>
    </body>
</html>
