<!DOCTYPE html>
<html>
<head>
    <title>{% if title is defined %} {{ title }} &ndash; {% endif %}grow3.js</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="expires" content="21600">

    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    {% block head %}{% endblock %}
</head>
<body>

<div class="container">
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="index.html">grow3.js</a>
            <ul class="nav">{% for nentry in nentries %}<li{% if nactive is sameas loop.index0 %} class="active"{% endif %}><a href="{{nentry.url}}">{{nentry.name}}</a></li>{% endfor %}</ul>
        </div>
    </div>


    <div class="span10 offset1">
        {% block content %}{{ content }}{% endblock %}
    </div>
</div>
<script src="js/jquery-1.10.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
{% block foot %}{% endblock %}
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["trackPageView"]);
  _paq.push(["enableLinkTracking"]);

  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://zyxxy.de/piwik/";
    _paq.push(["setTrackerUrl", u+"piwik.php"]);
    _paq.push(["setSiteId", "2"]);
    var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
    g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><img src="http://zyxxy.de/piwik/piwik.php?idsite=2&amp;rec=1" style="border:0" alt="" /></noscript>
<!-- End Piwik Code -->
</body>
</html>