{% extends "base.html" %}

{% block content %}
<h2>Gallery</h2>
<div><strong>Please note: </strong> All gallery entries are best viewed using a WebGL enabled browser, preferably Chrome, Chromium or Firefox.
To test your browser and graphics card visit <a href="http://get.webgl.org/">this website</a>.<br><br></div>
   <div>You can use the following <strong>controls</strong>:
        <ul>
            <li>Left-click and drag mouse to <em>rotate</em> object.</li>
            <li>Right-click and drag mouse to <em>move</em> object.</li>
            <li>Scroll-Wheel (or zoom on touchpad) to <em>zoom in/out</em>.</li>
        </ul>
    </div><br>
{% for entry in gentries %}
    <div class="carousel span4">
        <div class="carousel-inner">
            <div class="item active ">
                <a href="g_{{entry}}.html"><img src="screenshots/{{entry}}.png" class="img-rounded"/></a>
                <div class="carousel-caption">
                      <p><strong>{{entry}}</strong></p>
                </div>
            </div>
        </div>
    </div>{% endfor %}
{% endblock %}