{% extends "base.html" %}

{% block content %}
<h1>grow3.js</h1>

<p class="lead">Build algorithmic 3D structures with JavaScript.</p>

<div class="container-fluid">
    <div id="myCarousel" class="carousel slide span7 offset1">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="active item"><a href="g_005_Spirally.html"><img src="screenshots/005_Spirally.png" class="img-rounded"
                                          style="width:100%;height:100%;"/></a></div>
            <div class="item"><a href="g_004_Spikey.html"><img src="screenshots/004_Spikey.png" class="img-rounded"
                                   style="width:100%;height:100%;"/></a></div>
            <div class="item"><a href="g_006_TextWorld.html"><img src="screenshots/006_TextWorld.png" class="img-rounded"
                                   style="width:100%;height:100%;"/></a></div>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>

</div>

{{ content }}
{% endblock %}